# Rust artifacts
target/

# Node artifacts
build/
prebuilds/
node_modules/

# Swift artifacts
.build/
.swiftpm/
Package.resolved

# Go artifacts
_obj/

# Zig artifacts
.zig-cache/
zig-out/
zig-pkg/

# Python artifacts
.venv/
__pycache__/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

# Example dirs
/examples/*/

# Grammar volatiles (`log.html` is written by `tree-sitter parse --debug-graph`)
*.wasm
*.obj
*.o
log.html

# Archives
*.tar.gz
*.tgz
*.zip

# Test
test-*.gql

# Editor and OS files
.DS_Store
.idea/
.vscode/
.claude/
*.swp
